body {
  padding: 15px;
  font-family: sans-serif;
  font-weight: bold;
}

h1, p {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 25px;
}

h2 {
  padding: 0;
  margin: 0;
}

h1 {
  text-transform: uppercase;
}

.row {
  width: 480px;
  margin: auto;
}

.tile {
  float: left;
  width: 40px;
  height: 40px;
  border-width: 3px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 3px;
  border-style: outset;
  font-size: 24px;
  cursor: pointer;
}

.tile:active, .explored {
  border-style: inset;
  background: #eee;
}

.explored {
  cursor: default;
}

.tile.perimeter {
  background: rgba(255,105,180,.3);
}

.flagged {
  color: rgb(255,105,180);
  cursor: pointer;
}

.modal {
  display: none;
}

.modal.active {
  text-align: center;
  display: block;
  font-size: 30px;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 5px solid gray;
  background: white;
  padding: 20px;
  width: 250px;
}


.modal button {
  font-size: 20px;
  margin: auto;
  padding: 10px;
  display: block;
}

.modal.active + .screen {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100,100,100,.4);
}

.timer {
  background: white;
  text-align: center;
  position: absolute;
  top: 30px;
  left: 30px;
  border: 5px solid gray;
  padding: 20px 50px;
}
